body{
    border-left: 20px solid grey;
    border-right: 20px solid grey;

}
*{
    margin: 0px;
    padding: 0px;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.header-img{
    height: 185px;
}
.logo{
    width: 800px;
}
.contact{
    margin-right: 50px;
    margin-top: 30px;
    text-align: center;
}
.call{
color: rgb(149, 18, 18);
letter-spacing: 2px;
font-size: bolder;
font-weight: 1000;
font-size: 22px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.underline{
    font-size: 10px;
    font-weight: 1000;
    margin-top: 5px;
    height:2px ;
    background-color: black;

}
.number{
font-size: 43px;
font-weight: 800;
letter-spacing: 2px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.get{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-size: 17px;
letter-spacing: 1px;
font-weight: bold;
}
.nav{
    background-color: rgb(149, 18, 18) ;
    margin-top: 0px;
    padding-right: 38px;
}

a {
  padding: 11px;
  float:inline-end;
  color: white;
  text-decoration: none;
  font-size: 21px;
  font-family:Arial, Helvetica, sans-serif;

}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 a:hover{
    background-color:rgb(129, 126, 126);
}
.main{
margin: 30px;
justify-content: space-between;
align-items: center;
display: flex;
}
.main-img1{
    height: 423px;
    width: 710px;
}
.main-form{
  background-image:url("images/form_bg.jpg");
  height: 425px;
  width: 610px;
  background-repeat: no-repeat; 
  background-size: cover;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 40px;
}
.question{
    height: 35px;
    width: 190px;
    padding: 7px;
    margin: 0px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: rgb(149, 18, 18);
}
.have{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-bottom: 0px;
}
.have1{
    font-size: 20px;
    font-weight: 550;
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.quest{
    color: rgb(14, 80, 118);
    font-size: 32px;
    font-weight: bolder;
    margin-right:88px;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    letter-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;

}
.about{
    font-size: 20px;
    font-weight: 550;
    margin-left: 160px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.p{
    margin-top: 9px;
    font-size: 19px;
    font-family:Arial;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 30px;
    text-align: left;

}

.form1{
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}

.img-conf{
      transform: rotate(15deg);
      height: 50px;
      width: 200px;
      margin-top: 30px;
}

.input{
    height: 22px;
    width: 200px;
    font-weight: bolder;
}
td {
  padding-bottom: 8px;
}
.input-box{
     margin-top: 7px;
    text-align: center;

}
.input-field{
    height: 70px;
    width: 500px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
textarea {
    padding-top: 7px;
}
.form-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
.privacy{
    font-size: 19px;
font-style: italic;
color: gray;
margin-top: 20px;
margin-left: 45px;
}
.button{
    background-color: rgb(149, 18, 18);
    padding: 10px;
    font-size: 22px;
    color: white;
    border: none;
    margin-top: 8px;
    margin-right: 53px;
}

.section-main-class {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.ist-box-main{
    padding: 1px 0px 0px 50px ;
}

.ist-box-text-2{
    color: brown;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px 0px ;
}
.ist-box-text-and-img{
    display: flex;
    align-items: center;
    gap:50px ;
    margin-top: 10px;
}
.box-1-btn-1 {
  background-color: brown;
  color: white;
  height: 30px;
  width: 134px;
  position: relative;
  bottom: -25px;
  left: 138px;
  border: none;
}
.line-img-1 {
  margin: 0px 0px -6px -38px;
}
 
.box-2nd-main{
      border-left: 1px solid grey ;
      border-right: 1px solid grey ;
}
.box2-sec1-heading{
margin-top: 1px;
margin-left: 30px;
margin-bottom: -20px;

}
.box-2nd-text-1{
    margin:0px 0px -20px 0px;
 
}
.box-2nd-text-2{
    color: brown;
    
}
.box-2nd-div-1{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 30px;

}
.box-2nd-div-1-img{
    margin-right: 20px;
}
.box-2nd-div-1-text-3{
    font-family: Arial, Helvetica, sans-serif;
}
.box-2nd-div-1-btn-1{
 background-color: brown;
  height: 30px;
  width: 134px;
  position: relative;
  bottom: 20px;
  left: 51px;
  color: white;
  border: none;  
}
.line-img-2 {
  position: relative;
  top: -38.5px;
  right: 128px;
}
.box-2nd-div-2{
    width: 100%;
    height: 130px;
}
.box2-midhr{
    width: 450px;
}
.box-2nd-div-2-text-and-img{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: -60px;
            margin-left: 30px;

}
.box-2nd-div-2-text-1{
 margin-top: 20px;
 margin-left: 30px;

}
.box-2nd-div-2-text-2{
   color: brown;
}
.box-2nd-div-2-text-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin: 1px 0px 0px 0px;
}
.box-2nd-div-2-img{
    position:relative;
    bottom: 20px;
    margin-top: 50px;
    right: 20px;
}
.box-2nd-div-2-btn-2{
  background-color: brown;
  height: 30px;
  width: 134px;
  position: relative;
  bottom: 50px;
  left: 53px;
  color: white;
  border: none;
}
.line-img-3 {
  position: relative;
  top: -69px;
  right: 128px;
}
.box-3-main {
  padding: 0px 0px 0px 0px;
}
 
.box-3-img-div {
  display: flex;
  gap: 23px;
  margin-right: 40px;
}
.box-3-text-1 {
  font-weight: bold;
  margin-top: 5px;
}
.box-3-text-2 {
  color: brown;
  font-weight: bold;
  margin: 0px 0px 7px 0px;
}
.box-3-text-3{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.box-3-btn-1{
    background-color: brown;
  height: 30px;
  width: 134px;
  position: relative;
  bottom: 20px;
  left: 140px;
  color: white;
  border: none;  
  top: 17px;
}
.line-img-4{
   position: relative;
  top: -2px;
  right: 40px;
}
.shadow{
    padding: 40px 0px 0px 0px ;
}
.last-main-div{
   margin: 29px;
   /* margin-left: 30px; */

   display: flex;
}
.aside-left-text-1{
font-size: 23px;
}
.aside-left-text-2{
    color: rgb(149, 18, 18);
    font-size: 23px;
}
.aside-block1{
    margin-top: 20px;
    display: flex;
      box-shadow: 5px 10px 18px rgb(162, 160, 160);
      height: 80px;
      width: 280px;

}

.aside-left-p{
    background-color: gray;
        font-size: 23px;
        font-weight: bold;
        padding-left: 15px;
        padding-top: 5px;
        color: white;
        width: 260px;
        height: 75px;

}
.aside-btn-main-div{
    display: flex;
    justify-content:right;
    gap: 3px;
    /* justify-content: space-evenly; */
}
.aside-left-btn{
          background-color: grey;
          color: white;
          border: none;  
          font-weight: bold;
          font-size: 15px;
          /* padding-left: 100px; */
          margin-top: 20px;
          /* margin-bottom: 35px; */
}

.aside-left-btn-bullet{
    margin-top: 20px;
    margin-right: 5px;
}
.aside-left-footer{
margin-top: 50px;
width: 290px;
}
.w1{
    font-size: 22px;
}
.w2{
    color: rgb(149, 18, 18);
}
.aside-left-footer-end{
color: grey;
font-size: 20px;
margin-top: 50px;
margin-left: 90px;
}
.artical-main{
    /* width: 800px; */
    /* margin: 30px; */
    padding-left: 30px;
    padding-right: 20px;
}
.artical-heading{
    margin-left: 20px;
      font-size: 25px;
        font-weight:bolder;
          letter-spacing: 1px;
}
.artical-para{
    margin-top: 10px;
      font-size:14px;
        /* font-family: Arial, Helvetica, sans-serif; */
          /* font-weight: 600; */
            line-height: 1.9;
              color: rgba(104, 103, 103, 0.874);
}
.right-aside-maindiv{
/* background-color: antiquewhite; */
width: 250px;
}
.right-aside{

}
.right-aside-heading1{
font-size: 22px;
font-size: bolder;
font-weight: 600;
}
.right-aside-heading2{
color: brown;
font-size: 22px;
font-size: bolder;
font-weight: 600;
}
.right-aside-p1{
margin-top: 5px;
font-size: 16px;
}
.right-aside-btn-1{
  background-color: brown;
  height: 30px;
  width: 134px;
  align-content: right;
  margin-left: 60px;
  margin-top: 0px;
 
  color: white;
  border: none;  

}
.right-aside-hr-img{
margin-bottom: -6px;
margin-left: -10px;
 
}
.right-aside-heading21{
margin-top: 30px;
font-size: 22px;
font-size: bolder;
font-weight: 600;
}
.right-aside-heading22{
font-size: 22px;
font-size: bolder;
font-weight: 600;
color: brown;

}
.right-aside-heading23{
font-size: 22px;
font-size: bolder;
font-weight: 600;

}
.right-aside-p21{
margin-top: 5px;
font-size: 16px;
}
.right-aside-heading31{
    padding-top: 20px;
 font-size: 22px;
font-size: bolder;
font-weight: 600;
}
.right-aside-heading32{
 font-size: 22px;
font-size: bolder;
font-weight: 600;
color: brown;
}